@charset "utf-8";

#contents .news_list dl {
  margin-bottom: 20px;
}

#contents .news_list dt {
  font-size: 150%;
  font-weight: bold;
}

#contents .news_list dt a:hover {
  text-decoration: underline;
}

#contents .news_list .date {
  font-weight: bold;
  margin: 5px 0;
  display: block;
}

#contents .pagination {
  text-align: center;
  padding-bottom: 20px;
}

#contents .pagination ul {
  display: inline-block;
  overflow: hidden;
}

#contents .pagination li {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

#contents .pagination a {
  display: block;
  font-size: 117%;
  text-align: center;
}

#contents .pagination a:hover {
  background: #cacaca;
  color: #fff;
}

#contents .pagination .active span {
  background: #cacaca;
  display: block;
  color: #fff;
  font-size: 117%;
  text-align: center;
}

#contents .img_center {
  padding: 20px 0;
}
#contents .app_list {
  background: url(../../img/news/img-bullet_news.jpg) left center no-repeat;
  padding-left: 15px;
}